  <div class="store mix"
         v-for="(store,index) in stores"
         :class="{socket: store.socket,wifi: store.wifi}"
        >
        <h2>{{i}}{{ store.name }}</h2>
      <span>{{ store.access}}</span>
      <div class="row">
        <div class="col s5 mainstore_logo">
          <img v-bind:src="store.mainstore.logo">
        </div>
        <div class="col s7">
          <table class="table">
            <thead>
              <tr>
                <th>営業時間</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>　平日：{{store.weekday_start | moment}}~{{store.weekday_finish | moment }}</p>
                  <p>土曜日：{{store.saturday_start | moment}}~{{store.saturday_finish | moment}}</p>
                  <p>日祝日：{{store.sunday_start | moment}}~{{store.sunday_finish | moment}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="icons_box">
        <i class="fas fa-smoking" v-show="store.smoking"></i>
        <i class="fas fa-wifi" v-show="store.wifi"></i>
        <i class="fas fa-plug" v-show="store.socket"></i>
      </div>
    </div>
  </div>
  <%= paginate @stores %>
