<div class="content">
  <div class="search_box">
    <form>
      <div class="input-field">
        <input type="text" id="aria">
        <label for="aria">エリア・駅</label>
      </div>
    </form>
  </div>

  <div class="filter_box row center">
    <div class="filter col s6">
      <div class="filter_content">
        <i class="fas fa-plug"></i>
        コンセント
      </div>
    </div>
    <div class="filter col s6">
      <div class="filter_content">
        <i class="fas fa-wifi"></i>
        フリーWi-Fi
      </div>
    </div>
  </div>

</div>
