<div class="content" id="stores_index">
  <div class="search_box">
    <div class="row search-form">
      <form class="input-field col s10"
            action="/"
            onsubmit="return false"
            @submit.prevent="searchStores">
        <input
          type="search"
          id="aria"
          v-model="storeSearch"
          >
        <label for="aria">エリア・駅</label>
      </form>
        <a class="btn waves-effect waves-light col s2 input-field"
        @click="searchStores">検索</a>
    </div>
  </div>
  <div class="filter_box row center">
    <div class="filter-block col s6">
      <div class="filter_content sort"
           @click="socketFilter"
           :class="{socketFilterOn: onSocket}"
           >
           <i class="fas fa-plug"></i>
           コンセント
      </div>
    </div>
    <div class="filter-block col s6">
      <div class="filter_content sort"
           @click="wifiFilter"
           :class="{wifiFilterOn: onWifi}"
           >
           <i class="fas fa-wifi"></i>
           フリーWi-Fi
      </div>
    </div>
  </div>

  <div class="stores_box" id="stores">
    <div class="store mix"
         v-for="(store,index) in displayStores"
         :class="{socket: store.socket,wifi: store.wifi}"
        >
        <h2>{{ store.name }}</h2>
      <span>{{store.access}}</span>
      <div class="row">
        <div class="col s5 mainstore_logo">
          <img :src="store.mainstore.image.url">
        </div>
        <div class="col s7">
          <table class="table">
            <thead>
              <tr>
                <th>営業時間</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>{{store.business_hour}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="icons_box">
        <i class="fas fa-smoking" v-show="store.smoking"></i>
        <i class="fas fa-wifi" v-show="store.wifi"></i>
        <i class="fas fa-plug" v-show="store.socket"></i>
      </div>
    </div>
  </div>
    <ul class="pagination">
      <li class="page-item waves-effect">
        <a @click="first" class="page-link" href="#" onclick="return false;"><i class="fas fa-angle-double-left"></i></a>
      </li>
      <li class="page-item waves-effect">
        <a @click="prev" class="page-link" href="#" onclick="return false;"><i class="fas fa-angle-left"></i> 前のページへ</a>
      </li>

      <!-- <li -->
      <!--   v&#45;for="i in displayPageRange" -->
      <!--   class="page&#45;item waves&#45;effect" -->
      <!--   :class="{active: i&#45;1 === currentPage}"> -->
      <!--   <a @click="pageSelect(i)" class="page&#45;link" href="#" onclick="return false;">{{ i }}</a> -->
      <!-- </li> -->
      <!--  -->
      <li class="page-item waves-effect">
        <a @click="next" class="page-link" href="#" onclick="return false;">次のページへ <i class="fas fa-angle-right"></i></a>
      </li>
      <li class="page-item waves-effect">
        <a @click="last" class="page-link" href="#" onclick="return false;"><i class="fas fa-angle-double-right"></i></a>
      </li>
    </ul>
</div>

<%= javascript_pack_tag 'store' %>
