/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("green","darken-3") !default;
@import "materialize";
@import 'font-awesome.css';

body{
  background-color:#fefefe;
}
header{
  background:linear-gradient(45deg,#008E41 0,#009137 100%);
  padding:.5em;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.32),
              0 4px 5px 0 rgba(0,0,0,0.06),
              0 1px 10px 0 rgba(0,0,0,0.08);
  a{
    font-size:2.2em;
  }
  h1.logo{
    margin: 0;
    letter-spacing:.2em;
    font-size:1.3em;
  }
}

.content{
  .search_box{
    padding-top: .8em;
    .search-form{
      width:95%;
      input{
        font-size:16px;
      }
    }
  }
  .filter_box{
    width: 95%;
    margin:0 auto;
    .filter-block{
        line-height:2.8em;
        height:2.8em;
      .filter_content{
        border: 1.5px solid #999;
        border-radius: 5px;
        font-size:1.15em;
        background-color:#fff;
      }
      &.col{
        padding:0 0.2em;
      }
      .wifiFilterOn{
        background-color:#ffaeae;
        color: #ff3030;
        font-weight: bold;
      }
      .socketFilterOn{
        background-color:#9ec4ff;
        color: #136df9;
        font-weight: bold;
      }

    }
  }
  .stores_box{
    .store{
      background-color:#fff;
      margin: 2em auto;
      border: 1.5px solid #999;
      padding: 0 .5em;
      h2{
        font-size:1.2em;
        margin: .2em auto 0;
      }
      span{
        font-size:.8em;
        color: #595960;
      }
      .row{
        margin-bottom:0;
      }
      .mainstore_logo{
        padding-left: 0px;
        // height:4em;
        img{
          max-width: 100%;
          border:1px solid #999;
        }
      }
      table{
        height:115px;
        border:1px solid #ccc;
        tr{
          // font-size: 12px;
          th{
            // width: 55px;
            background-color:#eee;
          }
          th,td{
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: .2em;
            p{
              margin: 2px auto;
            }
          }
        }
      }
      .icons_box{
        margin-bottom: 1em;
        i{
          border:1.5px solid #999;
          padding:.2em;
          font-size: 1.5em;
          margin: .2em .3em;
          width: 1.8em;
          text-align:center;
          &:first-child{
            margin-left:0;
          }
        }
      }
    }
  }
  nav{
    background-color:transparent;
    .pagination{
      .page-item{
        a{
          // color: #fff;
        }
      }
    }
  }
}

