/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("green","darken-3") !default;
@import "materialize";
@import 'font-awesome.css';

body{
  background-color:#fefefe;
}
.loading{
  width: 100%;
  position:absolute;
  top:42%;
  text-align:center;
}
header{
  background: linear-gradient(283deg, #d5ffd5, #01b76e 61%, #005d38);
  padding:.5em;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.32),
              0 4px 5px 0 rgba(0,0,0,0.06),
              0 1px 10px 0 rgba(0,0,0,0.08);
  a{
    i{
      padding-bottom:.5em;
      font-size:1.8em;
    }
    h1.logo{
      margin: 0;
      letter-spacing:.2em;
      font-size:1.3em;
    }
  }
}

.content{
  .search_box{
    padding-top: .8em;
    .search-form{
      width:97%;
      margin-bottom:0;
      input{
        font-size:16px;
      }
    }
  }
  .filter_box{
    width: 97%;
    margin:0 auto;
    .distanceSort{
      margin-top:1em;
    }
    .filter-block{
        line-height:2.8em;
        height:2.8em;
      .filter_content{
        border: 1px solid #cdcdcd;
        border-radius: 5px;
        font-size:1.15em;
        background-color:#fff;
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
        .smoking_filter_text{
          letter-spacing: 5px;
          padding-left: 4px;
        }
      }
      &.col{
        padding:0 0.2em;
      }
      .wifiFilterOn{
        background-color:#ffaeae;
        color: #ff3030;
        font-weight: bold;
      }
      .socketFilterOn{
        background-color:#9ec4ff;
        color: #136df9;
        font-weight: bold;
      }
      .smokingFilterOn{
        background-color:#b0fcb8;
        color: #25a856;
        font-weight: bold;
      }
      .distanceSortOn{
        background-color:#ffd19e;
        color: #f99420;
        font-weight: bold;
      }
    }
  }
  .stores_box{
    .store_count{
      border: 1px solid #cdcdcd;
      color: #aaa;
      text-align:center;
      background-color:#eee;
      height: 2.5em;
      line-height:2.5em;
      margin-top: 2em;
      font-size:1.2em;
    }
    .store{
      background-color:#fff;
      margin: 2em auto;
      border: 1px solid #cdcdcd;
      border-radius:3px;
      padding: 0 .5em;
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
      h2{
        font-size:1.2em;
        margin: .6em auto .5em;
      }
      .access{
        font-size:.8em;
        color: #595960;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .row{
        margin-bottom:0;
      }
      .mainstore_logo{
        padding-left: 0px;
        img{
          padding: .5em;
          max-width: 100%;
          border:1px solid #999;
        }
      }
      table{
        height:139px;
        border:1px solid #ccc;
        tr{
          th{
            background-color:#eee;
            text-align:center;
          }
          th,td{
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            pre{
              margin: 0;
              word-break:break-all;
white-space:pre-wrap;
            }
          }
        }
      }
      .icons_box{
        margin-bottom: 1em;
        i{
          padding:.2em;
          font-size: 1.5em;
          margin: .2em .3em;
          width: 1.8em;
          text-align:center;
          &:first-child{
            margin-left:0;
          }
        }
        .iccard_img_block{
          display: inline-block;
          width: 37.8px;
          img{
            max-width: 100%;
          }
        }
      }
      &:nth-child(2){
        margin-top: 0;
      }
    }
  }
  .moreread{
    width: 325px;
    margin: 0 auto 1em;
    text-align:center;
    border: 1.2px solid #cdcdcd;
    height: 2.8em;
    line-height:2.8em;
    border-radius:20px;
    font-size: 1.1em;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    position:relative;
    i{
      line-height:3em;
      position:absolute;
      left: 1.5em;
    }
    span{
      position:absolute;
      left:0;
      right:0;
    }
  }
  .pagination{
    text-align:center;
    .page-item{
      border: 1px solid #eee;
      height: 3em;
      line-height:3em;
      a{
        i{
          font-size:1em;
        }
      }
    }
  }
}


#store_detail{
  h2{
    font-size:2.5em;
  }
  table{
    border:1px solid #ccc;
    tr{
      th{
        background-color:#eee;
        text-align:center;
      }
      th,td{
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        pre{
          margin: 0;
          word-break:break-all;
          white-space:pre-wrap;
        }
      }
    }
  }
  .icons_box{
    margin-bottom: 1em;
    i{
      padding:.2em;
      font-size: 1.5em;
      margin: .2em .3em;
      width: 1.8em;
      text-align:center;
      &:first-child{
        margin-left:0;
      }
    }
    .iccard_img_block{
      display: inline-block;
      border:1px solid #cdcdcd;
      width: 37.8px;
      img{
        max-width: 100%;
      }
    }
  }
  #map{
    width:100%;
    height:400px;
  }
}

.icons_box{
  .fa-smoking{
    border:2px solid #b0fcb8;
    color: #25a856;
  }
  .fa-wifi{
    border:2px solid #ffaeae;
    color: #ff3030;
  }
  .fa-plug{
    border:2px solid #9ec4ff;
    color: #136df9;
  }
  .iccard_img_block{
    border:2px solid #f9f7a7;
  }
}

.v--modal-box{
  top:15px !important;
}
#store_detail{
  .row{
    margin-bottom: 0;
    margin-top: 1em;
    .img_logo_block,{
      img{
        max-width:100%;
      }
    }
    .store-name{
      font-size:1.4em;
      padding: auto 0;
      margin:0;
    }
    .close-icon-block{
      i{
        font-size:1.3em;
      }
    }
    p{
      vertical-align:middle;
      display: inline-block;
      margin-top: 1em;
    }
  }
  #map{
    margin-bottom:10px;
  }
}
